#wrapper {
  width: 960px;
  margin: 0 auto;
  font-size: 20px; }
  #wrapper p {
    color: #333333;
    line-height: 1.5em;
    font-family: "Quattrocento Sans", Arial; }

#links {
  float: left;
  width: 300px;
  list-style: none;
  padding: 20px 0; }
  #links li {
    float: right;
    margin-left: 10px; }
    #links li a {
      color: #333333;
      font-family: "Yanone Kaffeesatz", Garamond, serif;
      font-size: 1.5em;
      text-decoration: none; }
    #links li a:hover {
      text-decoration: underline; }

#title {
  width: 650px;
  float: left;
  padding: 20px 0; }
  #title h1 {
    font-family: "Yanone Kaffeesatz", Garamond, serif;
    font-weight: normal;
    font-size: 3.5em;
    color: #333333;
    margin: 0; }
  #title h2 {
    font-size: 1.2em;
    font-family: "Quattrocento Sans", Arial;
    font-weight: normal;
    color: #666666;
    margin: 0; }

#content {
  float: left; }

.post {
  border-bottom: dashed 1px #333333;
  padding-bottom: 10px;
  margin-bottom: 10px; }
  .post h2 {
    color: #235e8c;
    font-family: "Yanone Kaffeesatz", Garamond, serif;
    margin: 0;
    font-weight: normal;
    font-size: 2em; }
  .post a:visited {
    color: #235e8c; }
  .post a {
    text-decoration: none; }
  .post .date {
    color: #666666;
    font-family: "Quattrocento Sans", Arial;
    font-size: 0.9em; }
  .post blockquote {
    margin-left: 20px;
    padding-left: 10px;
    border-left: solid 2px #333333; }
    .post blockquote p {
      font-family: "times new roman"; }

#disqus_thread {
  color: #333333;
  font-family: Verdana, Arial; }
  #disqus_thread a {
    color: #235e8c; }
