%header.main
  %h1= link_to "Marcos Castilho", root_path

  %nav
    %ul
      %li= link_to "Github", "http://www.github.com/marcosccm"
      %li= link_to "Twitter", "http://www.twitter.com/marcosccm"
      %li= link_to "Feed", "http://feeds.feedburner.com/PoemOfBragi" 
