$text: #404749
$header: darken(#728A7C,8)
$header-alternative: lighten($header, 30)
$code-block: lighten($header, 56)
$code-block-header: lighten($header, 46)

@mixin header($size, $color)
  color: $color
  font-family: 'Yanone Kaffeesatz', Garamond, serif
  font-weight: normal
  font-size: $size
  a:visited
    color: $color
  a
    color: $color

a
  color: lighten($header, 15)
  text-decoration: none

a:visited
  color: lighten($header, 15)
  text-decoration: none

p
  color: $text
  line-height: 1.5em
  font-family: 'Quattrocento Sans', Arial
  text-rendering: optimizeLegibility

pre
  background-color: $code-block
  border: solid 2px $code-block-header
  padding: 20px
  overflow-x: scroll

h1
  @include header(3.0em, $text)

h2
  @include header(2em, $header)
  margin: 0

h3
  @include header(1.5em, $header)

ul
  margin: 0
  list-style: none

article
  margin-bottom: 30px

#wrapper
  width: 620px
  margin: 0 auto
  font-size: 20px
  padding: 20px

  @media (max-width: 620px)
    width: auto

span.date
  color: $header-alternative
  display: block
  font-family: 'Quattrocento Sans', Arial
  font-size: 0.9em

header.main
  margin: 20px 0 40px 0 

  h1

    display: inline
  nav
    float: right
    ul li
      display: inline
      margin-left: 10px
      a
        color: $text
        font-family: 'Yanone Kaffeesatz', Garamond, serif
        font-size: 1.5em
      a:hover
        text-decoration: underline

#post
  header h1
    font-size: 1.5em
  article
    header
      margin-bottom: 30px
    header h2 
      font-size: 3.5em
      .date
        font-size: 0.3em 
    header h3
      margin: 5px 0
      color: $header-alternative
      
    blockquote
      margin-left: 20px
      padding-left: 10px
      border-left: solid 2px $text
      p
        font-family: 'times new roman'

#disqus_thread
  color: $text
  font-family: Verdana, Arial
  a
  
    color: $header
